tests/baseline_data/tank_model_snapshot/** filter=lfs diff=lfs merge=lfs -text
tests/baseline_data/inference_data.csv filter=lfs diff=lfs merge=lfs -text
tests/baseline_data/tank_parametric_inference.png filter=lfs diff=lfs merge=lfs -text
